body {
    padding: 0;
}

.color-bg {
    background-color: #142382 !important;
    box-shadow: 0px 0px 10px 0px #000000;
}

.font-stl {
    color: #FFFFFF !important;
    padding-inline: 20px;
}

    .font-stl:hover {
        color: #34B630 !important;
    }

.stl-btn-1 {
    background-color: #FFFFFF0D;
}

.nom-stl {
    margin-top: 50px;
    text-align: center;
    font-size: calc(3em + 1vw);
    color: #142382;
    text-shadow: 1px 1px 0 #ffffff;
}

.img-car-1 {
    max-width: 60rem;
    max-height: 22rem;
}

.crs-index {
    margin-top: 50px;
    max-width: 40rem;
    max-height: 22rem;
    box-shadow: 0px 0px 30px 0px #000000;
}

.txt-desc-car {
    background-color: #00000080;
    box-shadow: 0px 0px 40px 40px #00000080;
}

.ttl-car {
    font-family: emoji;
}

.log-stl {
    padding-left: 20px;
    padding-right: 15px;
    color: #28a745;
}

    .log-stl:hover {
        color: #ffffff;
    }

@media screen and (max-width: 480px) {
    .log-stl {
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        margin-bottom: 5px;
        padding: 0;
    }
}

.stl-frm-log {
    margin-top: 50px;
}

.calendario-turnos {
    margin-top: 50px;
}

.contacto-1 {
    margin-top: 50px;
}

.contacto-2 {
    margin-top: 50px;
}

.img-contacto {
    max-width: 150px;
}

@media screen and (max-width: 480px) {
    .img-contacto {
        max-width: 80px;
    }
}

.ttl-contacto {
    width: 40%;
    background-color: #142382 !important;
    color: #FFFFFF;
    padding: 5px 0px 10px 0px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 1px #000000;
}

@media screen and (max-width: 480px) {
    .ttl-contacto {
        width: 80%;
    }
}

.nro-contacto {
    width: 25%;
    border: 2px solid #142382;
    background-color: #C5C9C580;
    color: #000000;
    padding: 5px 0px 7px 0px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #000000;
}

@media screen and (max-width: 480px) {
    .nro-contacto {
        width: 60%;
    }
}

.ttl-turno {
    width: 40%;
    background-color: #142382 !important;
    color: #FFFFFF;
    padding: 5px 0px 10px 0px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 1px #000000;
    margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
    .ttl-turno {
        width: 80%;
    }
}

/*____________________________________________________________________________________________________*/

.lbl-detalle {
    font-size: 25px;
}

@media screen and (max-width: 480px) {
    .lbl-detalle {
        font-size: 1.2rem;
    }
}

.txt-detalle {
    font-size: 25px;
    text-align: left !important;
}

@media screen and (max-width: 480px) {
    .txt-detalle {
        font-size: 1.2rem;
    }
}

.div-detalle {
    width: 60%;
    text-align: left !important;
    margin-top: 30px;
}

@media screen and (max-width: 480px) {
    .div-detalle {
        margin-left: 10px;
        width: 100%;
        margin-bottom: 20px;
    }
}

.principal-detalle {
    display: grid;
    border: 1px solid #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #000000;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 480px) {
    .principal-detalle {
        grid-template-columns: 1fr;
    }
}

.img-detalle {
    width: 400px;
    margin-left: 30px;
}

@media screen and (max-width: 480px) {
    .img-detalle {
        width: 80%;
    }
}

.btn-cards-carrito {
    background-color: orange !important;
    border: 1px solid orange !important;
    right: 0;
}

    .btn-cards-carrito:hover {
        background-color: #FFFFFF !important;
        color: orange !important;
        border: 1px solid orange !important;
    }

.btn-cards-carrito-2:hover {
    background-color: #FFFFFF !important;
    color: #007bff !important;
    border: 1px solid #007bff !important;
}

.btn-primary {
    display: flex !important;
    margin-bottom: 10px !important;
}

.img-cards {
    max-width: 170px !important;
    margin-top: 30px !important;
}

.stl-card {
    box-shadow: 0px 0px 10px 0px grey;
    padding-top: 15px;
}

.bg-dark {
    box-shadow: 0px 0px 10px 0px #000000 !important;
}

.btn-buscador {
    background-color: #007bff;
    color: #FFFFFF;
    border: 2px solid darkgrey;
    box-shadow: 2px 2px 6px 0px #000000;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 30px;
}

    .btn-buscador:hover {
        background-color: #FFFFFF;
        color: #007bff;
        font-weight: 400;
    }

.txt-buscador {
    width: 350px;
}

@media screen and (max-width: 480px) {
    .txt-buscador {
        width: 200px;
    }
}

.txt-carrito {
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
}

.img-carrito {
    padding-right: 40px;
    padding-bottom: 30px;
}

.nom-carrito {
    width: 350px;
}

.imp-carrito {
    width: 130px;
}


.cont-correcto {
    width: 80%;
    box-shadow: 0px 0px 10px 0px #000000;
    border-radius: 30px;
    padding: 30px;
    background-color: #1BEE2F;
    margin-top: 100px;
    margin-bottom: 200px;
}



@media screen and (max-width: 480px) {
    .btn-cont-inicio {
        margin-right: 0px;
    }
}



.txt-correcto-1 {
    font-family: serif;
    font-weight: 600;
}

.txt-correcto-2 {
    font-family: serif;
    font-weight: 500;
}

.stl-catalogo {
    max-width: 330px;
    max-height: 400px;
}

.stl-dtl-catalogo {
    
}